wikipedia==1.4.0
deep-translator==1.11.4
transformers==4.35.2
mlflow==2.9.1
anthropic==0.26.0
google-generativeai==0.3.2
faiss-cpu==1.7.4
numpy==1.26.4
opentelemetry-api==1.23.0
opentelemetry-sdk==1.23.0
